<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
    <!-- add custom css -->
    <th:block layout:fragment="/css"></th:block>
    <!-- add custom script -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            /**
    		 * 게시글 조회
	        */
            function goView(id) {
                location.href = `/board/view/${id}`;
            }

            /*]]>*/
        </script>
    </th:block>

    <div layout:fragment="content">
        <div class="container-fluid px-4">
            <h1 class="mt-4">Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">
                    <a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    DataTables is a third party plugin that is used to generate the demo table
                    below. For more information about DataTables, please visit the
                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                    .
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    자유게시판
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                                <th>조회 수</th>
                            </tr>
                        </thead>

                        <!--/* 게시글 리스트 Rendering 영역 */-->
                        <tbody>
                            <tr th:each="board : ${boards}" th:key="${board.id}">
                                <td th:text="${board.id}"></td>
                                <td class="text-left">
                                    <a th:href="@{'/board/view/' + ${board.id}}">
                                        <p th:text="${board.title}"></p>
                                    </a>
                                </td>
                                <td th:text="${board.writer}"></td>
                                <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${board.hits}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn_wrap text-right">
                        <a th:href="@{/board/write}" class="btn btn-primary waves-effect waves-light">Write</a>
                    </div>

                    <!-- 페이지네이션 Rendering 영역 -->
                    <nav></nav>
                </div>
            </div>
        </div>
    </div>
</html>