<div th:fragment="pagenation" class="pagination justify-content-center">
    
    <a
        th:if="${hasPrev}"
        href="?page=${previous}"
        role="button"
        class="btn btn-lg bi bi-caret-left-square-fill"></a>

    <a
        th:if="!${hasPrev}"
        href="?page=${previous}"
        role="button"
        class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>

    <a
        th:if="${hasPrev}"
        href="?page=${next}"
        role="button"
        class="btn btn-lg bi bi-caret-right-square-fill"></a>
    <a
        th:if="!${hasPrev}"
        href="?page=${next}"
        role="button"
        class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>

</div>