<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
    <!-- add custom css -->
    <th:block layout:fragment="/css"></th:block>
    <!-- add custom script -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            /**
    		 * 게시글 조회
	        */
            function goView(id) {
                location.href = `/board/view/${id}`;
            }

            /*]]>*/
        </script>
    </th:block>

    <div layout:fragment="content">
        <div class="container-fluid px-4">
            <!-- content -->
            <div id="posts_list">
                <div class="col-md-12">
                    <form class="card">
                        <div class="card-header d-flex justify-content-between">
                            <label for="id">번호 :
                                [[${posts.id}]]</label>
                            <input type="hidden" id="id" th:value="${posts.id}">
                            <label for="createdDate">[[${posts.createdDate}]]</label>
                        </div>
                        <div class="card-header d-flex justify-content-between">
                            <label for="writer">작성자 :
                                [[${posts.writer}]]</label>
                            <label for="view">
                                <i class=" bi bi-eye-fill">
                                    [[${posts.view}]]</i>
                            </label>
                        </div>
                        <div class="card-body">
                            <label for="title">게임명</label>
                            <input
                                type="text"
                                class="form-control"
                                id="title"
                                th:value="${posts.gamename}"
                                readonly="readonly">
                        </div>
                        <div class="card-body">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" th:value="${posts.title}">
                        </div>

                        <div class="card-body">
                            <label for="content">내용</label>
                            <textarea rows="10" class="form-control" id="content">[[${posts.content}]]</textarea>
                        </div>
                    </form>

                    <!--버튼-->
                    <a
                        th:href="@{'/posts/read/' + ${id}}"
                        role="button"
                        class="btn btn-info bi bi-arrow-return-left">
                        취소</a>
                    <button
                        type="button"
                        id="btn-update"
                        class="btn btn-primary bi bi-pencil-square">
                        완료</button>
                </div>
            </div>
        </div>
    </div>
</html>