<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
    <!-- add custom css -->
    <th:block layout:fragment="/css"></th:block>
    <!-- add custom script -->
    <th:block layout:fragment="script">
        <!-- script -->
        <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
        <link
            rel="stylesheet"
            href="https://bossanova.uk/jspreadsheet/v4/jexcel.css"
            type="text/css"/>
        <script src="https://jsuites.net/v4/jsuites.js"></script>
        <link
            rel="stylesheet"
            href="https://jsuites.net/v4/jsuites.css"
            type="text/css"/>

        <link
            rel="stylesheet"
            type="text/css"
            href="https://fonts.googleapis.com/css?family=Material+Icons"/>

        <script th:inline="javascript"></script>
    </th:block>

    <div layout:fragment="content">
        <head>
            <!-- CSS Imports -->
            <!--Fonts-->
            <link
                href="https://fonts.googleapis.com/css?family=Assistant:300,400,600,700"
                rel="stylesheet"/>
            <!--Font Awesome-->
            <link
                rel="stylesheet"
                type="text/css"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <!-- General Chapter -->
            <link rel="stylesheet" type="text/css" href="/css/chapter-style.css"/>
            <!-- Specific Chapter -->
            <link rel="stylesheet" type="text/css" href="/css/distributions.css"/>
            <link rel="stylesheet" type="text/css" href="/css/basic-probability.css"/>
            <link rel="stylesheet" type="text/css" href="/css/distributions.css"/>
            <!-- JavaScript Imports -->
            <!-- D3 -->
            <script src="/js/d3.min.js"></script>
            <!-- Jquery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <!-- jstat -->
            <script src="/js/jstat.min.js"></script>
            <!-- MathJax -->
            <script
                type="text/javascript"
                async="async"
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
            <!-- Tool Tip -->
            <script src="/js/d3.tip.v0.6.3.js"></script>
            <!-- General Chapter -->
            <script src="/js/chapter.js"></script>
            <!-- Random Variable D3 Extentsion -->
            <script src="/js/d3.hexbin.min.js"></script>
            <!-- Visualizations -->
            <script src="/js/basic-probability.js"></script>
            <!-- Google Analytics -->
            <script>
                (function (i, s, o, g, r, a, m) {
                    i["GoogleAnalyticsObject"] = r;
                    (i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments);
                    }),
                    (i[r].l = 1 * new Date());
                    (a = s.createElement(o)),
                    (m = s.getElementsByTagName(o)[0]);
                    a.async = 1;
                    a.src = g;
                    m
                        .parentNode
                        .insertBefore(a, m);
                })(
                    window,
                    document,
                    "script",
                    "https://www.google-analytics.com/analytics.js",
                    "ga"
                );
                ga("create", "UA-85617614-1", "auto");
                ga("send", "pageview");
            </script>

            <link rel="stylesheet" href="/css/jquery-ui.css"/>
        </head>
        <div class="container-fluid px-4">
            <h1 class="mt-4">아이템 확률 계산</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">
                    <a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Gacha</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    아이템 획득 확률을 계산하는 페이지의 매뉴얼 위치입니다.
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-database"></i>
                    게임/아이템 정보
                </div>
                <div class="card-body">
                    <div style="float: left;">
                        <p>
                            게임 이름
                        </p>
                        <select id="game" class="form-control" v-model="game.selected" @change="GameSelected()">
                            <option disabled="disabled" value="">Please select one</option>
                            <option
                                th:each="game : ${games}"
                                th:value="${game.id}"
                                th:text="${game.gamename}"/>
                        </select>
                    </div>
                    <div style="float: left;">
                        <p>
                            아이템 이름
                        </p>
                        <select id="item" class="form-control" v-model="item.selected">
                            <option disabled="disabled" value="">Please select one</option>
                            <option
                                v-for="item in item.list"
                                v-bind:value="item.id"
                                v-bind:text="item.itemname">
                                {{item.itemname}}
                            </option>
                        </select>
                    </div>
                    <div style="float: left;">
                        <p>
                            1회 뽑기 가격
                        </p>
                        <input type="text" class="form-control" v-model="price.selected" placeholder="입력하세요."/>
                    </div>
                    <div style="float: left;">
                        <p>
                            가챠 종류
                        </p>
                        <select id="gacha" class="form-control" v-model="gacha.selected" @change="GachaSelected()">
                            <option disabled="disabled" value="">Please select one</option>
                            <option
                                th:each="gacha : ${gachas}"
                                th:value="${gacha.id}"
                                th:text="${gacha.gachaname}"/>
                        </select>
                    </div>
                    <input type="hidden" class="form-control" id="writer" th:value="${user.nickname}"/>
                </div>
                <div class="card-body">
                    <input type="button" class="btn btn-primary" value="계산" v-on:click="Calc()"/>
                </div>
                <div class="card-body">
                    <div id="userProbTable" style="width: 100%;"></div>
                </div>
                <input type="button" value="Toggle Collapse" v-on:click="ToggleCrawled()"/>
                <div class="card-body">
                    <div id="crawledProbTable" style="width: 100%;"></div>
                </div>
            </div>

            <!--div class="card mb-4"> <div class="card-header"> <i class="fa-solid
            fa-thumbs-up"></i> 아이템별 가챠 추천 </div> <div class="card-body"> 컴플리트가챠(좋아요[10]
            조회수[100]) / 구간확률(좋아요[5] 조회수[10]) / 천장뽑기(좋아요[1] 조회수[1000]) </div> </div> <div
            class="card mb-4"> <div class="card mb-4"> <div class="card-header"> <i
            class="fa-solid fa-square-poll-vertical"></i> 확률 정보 선택 및 아이템 정보 입력 </div> </div>
            </div-->

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    확률 결과
                </div>
                <div id="areaChartDiv" class="card-body">
                    <p>1번 이상 50% 확률로 성공하기 위해서는 7회 이상 시도하셔야 합니다.</p>
                    <p>1번 이상 80% 확률로 성공하기 위해서는 16회 이상 시도하셔야 합니다.</p>
                    <p>1번 이상 90% 확률로 성공하기 위해서는 22회 이상 시도하셔야 합니다.</p>
                    <p>1번 이상 99% 확률로 성공하기 위해서는 44회 이상 시도하셔야 합니다.</p>
                    <canvas id="myAreaChart" width="100%" height="40"></canvas>
                </div>
                <div id="barChartDiv" class="card-body">
                    <p>0회 뽑힐 확률은 81%입니다.</p>
                    <p>1회 뽑힐 확률은 10%입니다.</p>
                    <p>2회 뽑힐 확률은 1%입니다.</p>
                    <p>한번도 뽑히지 않을 확률은 81%입니다.</p>
                    <canvas id="myBarChart" width="100%" height="40"></canvas>
                </div>
            </div>
        </div>
        <!--div class="container-fluid px-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-bolt-lightning"></i>
                    시뮬레이션
                </div>
                <div class="card-body">
                    <div style="float: left">
                        <p>투입 희망 금액</p>
                        <input type="text" class="form-control" id="avail_money" placeholder="입력하세요."/>
                    </div>
                    <div style="float: left">
                        <p>1회 뽑기 가격</p>
                        <input type="text" class="form-control" id="item_cost" v-model="price.selected"/>
                    </div>
                    <div style="float: left">
                        <p>남은 금액</p>
                        <p class="form-control" style="width: 185px;" id="left_money">0</p>
                    </div>
                    <div style="float: left">
                        <p>전체 시도 횟수</p>
                        <p class="form-control" style="width: 185px;" id="total_try">0</p>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    시뮬레이션 결과
                </div>
                <div class="card-body">
                    <div class="visualization-wrapper" id="barCoin"></div>
                    <div class="interactive-wrapper">
                        <label for="try">
                            시도횟수 =
                            <span id="try-value">1</span>
                        </label>
                        <input
                            id="try"
                            class="inputDist greenSlider"
                            type="range"
                            min="1"
                            max="100"
                            step="1"
                            value="1"/>
                        <div class="button-1" id="form_chance">Try</label>
                    </div>
                    <div style="text-align:center; font-size: 18px;">
                        <span id="success_test"></span><br><br></div>

                    <div id="share"></div>
                    <link rel="stylesheet" type="text/css" href="/css/jssocials.css"/>
                    <link rel="stylesheet" type="text/css" href="/css/jssocials-theme-flat.css"/>
                    <script src="/js/jssocials.min.js"></script>
                </div>
            </div>
        </div-->
        <script src="/js/prob/gacha.js"></script>
    </div>
</html>

<!-- add custom script -->
<th:block layout:fragment="script">
    <script src="/js/history.js"></script>
</th:block>