<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
    <!-- add custom css -->
    <th:block layout:fragment="/css"></th:block>
    <!-- add custom script -->
    <th:block layout:fragment="script">
        <link rel='stylesheet' href='/luckysheet/dist/plugins/css/pluginsCss.css'/>
        <link rel='stylesheet' href='/luckysheet/dist/plugins/plugins.css'/>
        <link rel='stylesheet' href='/luckysheet/dist/css/luckysheet.css'/>
        <link rel='stylesheet' href='/luckysheet/dist/assets/iconfont/iconfont.css'/>
        <script src="/luckysheet/dist/plugins/js/plugin.js"></script>
        <script src="/luckysheet/dist/luckysheet.umd.js"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            $(function () {
                //Configuration item
                var options = {
                    showinfobar: false,
                    container: 'luckysheet1' //luckysheet is the container id
                }
                luckysheet.create(options)
            })
            /*]]>*/
        </script>
    </th:block>

    <div layout:fragment="content">
        <div class="container-fluid px-4">
            <h1 class="mt-4">sheetdemo</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">
                    <a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">sheetdemo</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    Luckysheet 데모 페이지의 매뉴얼 위치입니다.
                </div>
            </div>
            <div
                id="luckysheet1"
                style="margin:0px;padding:0px;position:absolute;width:100%;height:50%;">
            </div>     
        </div>
    </div>
</div>
</html>