<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav
        th:fragment="headerFragment"
        class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">Gachanono</a>
        <!-- Sidebar Toggle-->
        <button
            class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
            id="sidebarToggle"
            href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search-->
        <!--form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2
        my-md-0"> <div class="input-group"> <input class="form-control" type="text"
        placeholder="Search for..." aria-label="Search for..."
        aria-describedby="btnNavbarSearch" /> <button class="btn btn-primary"
        id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button> </div>
        </form-->
        <!-- Navbar-->
        <ul th:if="${user}"  class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

            <span class="navbar-dark">[[${user.nickname}]]님 안녕하세요!</span>
            <a href="/logout" class="btn btn-outline-light">로그아웃</a>
            <a href="/modify" class="btn btn-outline-light bi bi-gear"></a>

        </ul>
        <ul th:if="!${user}" class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <a
                href="/oauth2/authorization/google"
                role="button"
                class="btn btn-outline-light bi bi-google">
                로그인</a>
        </ul>
    </nav>
</html>