<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="sideFragment" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">서비스</div>
          <a class="nav-link" href="/prob/gacha">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-calculator"></i>
            </div>
            아이템 확률 계산
          </a>
          <a class="nav-link" href="/history/list">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
            확률 계산 히스토리
          </a>
          <a class="nav-link" href="/posts/free">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-comment-dots"></i>
            </div>
            자유게시판
          </a>
          <!--a class="nav-link" href="/prob/sheetjsce">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-comment-dots"></i>
            </div>
            sheetjsce
          </a-->
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Powered by</div>
        Gachanono
      </div>
    </nav>
  </div>
</html>
