<div th:fragment="form" class="card">
    <div class="card-header bi bi-chat-right-dots">
        Write a Comment</div>
    <form>
        <input type="hidden" id="postsId" th:value="${posts.id}">
        <th:block th:if="${user}">
            <div class="card-body">
                <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="card-footer">
                <button
                    type="button"
                    id="btn-comment-save"
                    class="btn btn-outline-primary bi bi-pencil-square">
                    등록</button>
            </div>
        </th:block>
        <th:block th:if="!${user}">
            <div class="card-body" style="font-size: small">
                <a href="/auth/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.</div>
        </th:block>
    </form>
</div>