<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
    <!-- add custom css -->
    <th:block layout:fragment="/css"></th:block>
    <!-- add custom script -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            /**
    		 * 게시글 조회
	        */
            function goView(id) {
                location.href = `/board/view/${id}`;
            }

            /*]]>*/
        </script>
    </th:block>

    <div layout:fragment="content">
        <div class="container-fluid px-4">
            <!-- content -->
            <div id="posts_list">
                <table id="table" class="table table-horizontal">
                    <thead id="thead">
                        <tr>
                            <th>번호</th>
                            <th>게임명</th>
                            <th class="col-md-6 text-center">제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th>좋아요</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr th:each="post : ${searchList}">
                            <td>[[${post.id}]]</td>
                            <td>[[${post.gamename}]]</td>
                            <td>
                                <a th:href="@{'/posts/read/' + ${post.id}}">[[${post.title}]]</a>
                            </td>
                            <td>[[${post.writer}]]</td>
                            <td>[[${post.modifiedDate}]]</td>
                            <td>[[${post.view}]]</td>
                            <td>[[${post.good}]]</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <a href="/posts/write" role="button" class="btn btn-primary bi bi-pencil-fill">
                        글쓰기</a>
                </div>

                <div class="pagination justify-content-center">

                    <a
                        th:if="${hasPrev}"
                        th:href="@{'/posts/search?keyword=' + ${keyword} + '&page=' + ${previous}}"
                        role="button"
                        class="btn btn-lg bi bi-caret-left-square-fill"></a>

                    <a
                        th:if="!${hasPrev}"
                        th:href="@{'/posts/search?keyword=' + ${keyword} + '&page=' + ${previous}}"
                        role="button"
                        class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>

                    <a
                        th:if="${hasPrev}"
                        th:href="@{'/posts/search?keyword=' + ${keyword} + '&page=' + ${next}}"
                        role="button"
                        class="btn btn-lg bi bi-caret-right-square-fill"></a>

                    <a
                        th:if="!${hasPrev}"
                        th:href="@{'/posts/search?keyword=' + ${keyword} + '&page=' + ${next}}"
                        role="button"
                        class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>

                </div>

            </div>
        </html>