<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout"
>
  <!-- add custom css -->
  <th:block layout:fragment="/css"></th:block>
  <!-- add custom script -->
  <th:block layout:fragment="script"></th:block>

  <div layout:fragment="content">
    <div class="container-fluid px-4">
      <!-- content -->
      <h1 class="mt-4">확률 계산 히스토리</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Board</li>
      </ol>
      <!-- <div class="card mb-4">
                <div class="card-body">
                    확률 계산 히스토리 페이지의 매뉴얼 위치입니다.
                </div>
            </div> -->
      <div class="card mb-4">
        <div class="card-header">
          <i class="fa-solid fa-clock-rotate-left"></i>
          확률 계산 히스토리
        </div>
        <div class="card-body">
          <div id="history_list">
            <div class="text-right">
              <form
                action="/history/search"
                method="GET"
                class="input-group form-inline p-2 bd-highlight"
                role="search"
              >
                <input
                  type="text"
                  name="keyword"
                  class="form-control"
                  id="search"
                  placeholder="검색"
                />
                <button class="btn btn-success bi bi-search"></button>
              </form>
            </div>
            <table id="table" class="table table-horizontal">
              <thead id="thead">
                <tr>
                  <th>번호</th>
                  <th>게임명</th>
                  <th>아이템명</th>
                  <th>가챠명</th>
                  <th>금액</th>
                  <!--th class="col-md-6 text-center">제목</th-->
                  <th>작성자</th>
                  <th>작성일</th>
                  <th>조회수</th>
                  <th>좋아요</th>
                </tr>
              </thead>
              <tbody id="tbody">
                <tr th:each="history : ${histories}">
                  <td>[[${history.id}]]</td>
                  <td>[[${history.gamename}]]</td>
                  <td>[[${history.itemname}]]</td>
                  <td>
                    <a th:href="@{'/history/read/' + ${history.id}}"
                      >[[${history.gachaname}]]</a
                    >
                  </td>
                  <td>[[${history.price}]]</td>
                  <td>[[${history.writer}]]</td>
                  <td>[[${history.createdDate}]]</td>
                  <td>[[${history.view}]]</td>
                  <td>[[${history.good}]]</td>
                </tr>
              </tbody>
            </table>
            <!--div class="text-right"> <a href="/history/write" role="button" class="btn
                        btn-primary bi bi-pencil-fill"> 글쓰기</a> </div-->
            <div th:replace="history/history-page :: pagenation"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>

<!-- add custom script -->
<th:block layout:fragment="script">
  <script src="/js/history.js"></script>
</th:block>
