<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout"
>
  <!-- add custom css -->
  <th:block layout:fragment="/css"></th:block>
  <!-- add custom script -->
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      /*<![CDATA[*/

      /**
       * 게시글 조회
       */
      function goView(id) {
        location.href = `/board/view/${id}`;
      }

      /*]]>*/
    </script>
  </th:block>

  <div layout:fragment="content">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="chapter" content="pd" />

      <title>Seeing Theory - Probability Distributions</title>
      <!-- CSS Imports -->
      <!--Fonts-->
      <link
        href="https://fonts.googleapis.com/css?family=Assistant:300,400,600,700"
        rel="stylesheet"
      />
      <!--Font Awesome-->
      <link
        rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <!-- General Chapter -->
      <link rel="stylesheet" type="text/css" href="/css/chapter-style.css" />
      <!-- Specific Chapter -->
      <link rel="stylesheet" type="text/css" href="/css/distributions.css" />
      <link
        rel="stylesheet"
        type="text/css"
        href="/css/basic-probability.css"
      />
      <link rel="stylesheet" type="text/css" href="/css/distributions.css" />
      <!-- JavaScript Imports -->
      <!-- D3 -->
      <script src="/js/d3.min.js"></script>
      <!-- Jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <!-- jstat -->
      <script src="/js/jstat.min.js"></script>
      <!-- MathJax -->
      <script
        type="text/javascript"
        async="async"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"
      ></script>
      <!-- Tool Tip -->
      <script src="/js/d3.tip.v0.6.3.js"></script>
      <!-- General Chapter -->
      <script src="/js/chapter.js"></script>
      <!-- Random Variable D3 Extentsion -->
      <script src="/js/d3.hexbin.min.js"></script>
      <!-- Visualizations -->
      <script src="/js/basic-probability.js"></script>
      <!-- Google Analytics -->
      <script>
        (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          (i[r] =
            i[r] ||
            function () {
              (i[r].q = i[r].q || []).push(arguments);
            }),
            (i[r].l = 1 * new Date());
          (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
        })(
          window,
          document,
          "script",
          "https://www.google-analytics.com/analytics.js",
          "ga"
        );
        ga("create", "UA-85617614-1", "auto");
        ga("send", "pageview");
      </script>

      <link rel="stylesheet" href="/css/jquery-ui.css" />
    </head>

    <div
      class="container-fluid px-4"
      id="gacha_id"
      th:value="${history.gacha_id}"
    >
      <h1 class="mt-4">시뮬레이션</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Simulation</li>
      </ol>
      <!-- <div class="card mb-4">
                <div class="card-body">
                    시뮬레이션을 수행하는 페이지의 매뉴얼 위치입니다.
                </div>
            </div> -->
      <div class="card mb-4">
        <input
          type="hidden"
          readonly="readonly"
          class="form-control"
          id="inputprobcsv"
          th:value="${history.inputprobcsv}"
        />
        <input
          type="hidden"
          readonly="readonly"
          class="form-control"
          id="itemname"
          th:value="${history.itemname}"
        />
        <div class="card-header">
          <i class="fa-solid fa-bolt-lightning"></i>
          시뮬레이션
        </div>
        <div class="card-body">
          <div style="float: left">
            <p>투입 희망 금액</p>
            <input
              type="text"
              class="form-control"
              id="avail_money"
              placeholder="입력하세요."
            />
          </div>
          <div style="float: left">
            <p>1회 뽑기 가격</p>
            <!-- 전 세션 에서 받아오기 -->
            <input
              readonly="readonly"
              type="text"
              class="form-control"
              id="item_cost"
              th:value="${history.price}"
            />
          </div>
          <div style="float: left">
            <p>남은 금액</p>
            <p class="form-control" style="width: 185px" id="left_money">0</p>
          </div>
          <div style="float: left">
            <p>전체 시도 횟수</p>
            <p class="form-control" style="width: 185px" id="total_try">0</p>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fa-solid fa-square-poll-vertical"></i>
          시뮬레이션 결과
        </div>
        <div class="card-body">
          <!--distributions-->
          <div class="visualization-wrapper" id="barCoin"></div>
          <div class="interactive-wrapper">
            <label for="try">
              시도횟수 =
              <span id="try-value">1</span>
            </label>
            <input
              id="try"
              class="inputDist greenSlider"
              type="range"
              min="1"
              max="1000"
              step="1"
              value="1"
            />
            <button class="button-1" id="form_chance">Try</button>
          </div>
          <div style="text-align: center; font-size: 18px">
            <span id="success_test"></span><br /><br />
          </div>

          <div id="share"></div>
          <!-- Share CSS and JavaScript -->
          <link rel="stylesheet" type="text/css" href="/css/jssocials.css" />
          <link
            rel="stylesheet"
            type="text/css"
            href="/css/jssocials-theme-flat.css"
          />
          <script src="/js/jssocials.min.js"></script>
          <script>
            $("#share").jsSocials({
              // url: "_url_", _createShareLink: function(share) {     var $result =
              // jsSocials.Socials.prototype._createShareLink.apply(this, arguments);
              // $result.on("click", function() {            replace the your placeholder with
              // actual url           var href = $result.attr("href"); $result.attr("href",
              // href.replace("_url_", shareUrl));     });     return $result; },
              showLabel: false,
              showCount: false,
              shareIn: "popup",
              shares: [
                "email",
                "twitter",
                "facebook",
                "googleplus",
                "linkedin",
              ],
            });

            $(".languageSetting").change(function () {
              var option = $(this).find("option:selected");
              window.location.href = option.data("url");
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</html>
